@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

@import "~normalize.css";
@import "~include-media/dist/_include-media.scss";
@import "variables.scss";
@import "base.scss";
@import "grid.scss";
@import "cards.scss";
@import "navs.scss";
@import "forms.scss";
@import "buttons.scss";
@import "wireframe.scss";

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

#app {
	.app-container {
		width: 1400px;
	}
}

.login-box {
	text-align: center;
	width: 20rem;
	margin: 0 auto;
	.logo {
		width: 100%;
		height: 5rem;
		display: block;
		line-height: 5rem;
		background: $lightgrey;
		margin: 5rem 0 1rem;
	}
}

.calendar {
	width: 70%;
	.calendar-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.calendar-body {
		background: $lightgrey;
		height: 600px;
		overflow: auto;
		margin-top: .5rem;
		.tags:hover {
			border-color: lighten($lightblue, 30%);
		}
		.tags .tag-body {
			padding: .25rem;
		}
		.instructor.mounted+.instructor.mounted {
			margin-left: 1px;
		}
	}
	&-data {
		.cards {
			margin-top: .5rem;
			font-size: smaller;			
			& .card-footer {
				padding: .5rem 1rem;
			}
			.card-body {
				height: 10rem;
				overflow-y: auto;
				ul li {
					margin-bottom: .25rem;
					input[type="checkbox"] {
						margin-right: .25rem;
						cursor: pointer;
					}
					.tags:hover .close {
						opacity: 0;
					}
				}
			}
		}
	}
}

.ui-resizable {
	position: relative;
	&-e {
		cursor: e-resize;
	    width: 7px;
	    right: -5px;
	    top: 0;
	    height: 100%;
	}
	&-s {
		cursor: s-resize;
	    height: 7px;
	    width: 100%;
	    bottom: -5px;
	    left: 0;
	}
	&-se {
		cursor: se-resize;
	    width: 12px;
	    height: 12px;
	    right: 1px;
	    bottom: 1px;
	}
	&-handle {
		position: absolute;
	    font-size: 0.1px;
	    display: block;
	    -ms-touch-action: none;
	    touch-action: none;
	}
}