.cards {
	border: 1px solid darken($lightgrey, 10%);
	border-radius: 3px;
	.card-header {
		padding: .5rem 1rem;		
		display: flex;
		justify-content: space-between;
		background-color: $lightgrey;		
	}
	.card-body {
		padding: 1rem;
		border-top: 1px solid darken($lightgrey, 10%);
	}
	.card-footer {
		padding: .5rem 1rem 1rem;
		border-top: 1px solid darken($lightgrey, 10%);
		display: flex;
		justify-content: space-between;
	}
	&.collapse {
		.card-header .caret {
			transform: rotate(180deg);
		}
		.card-body, .card-footer {
			display: none;
		}
	}
	hr {
		margin: .5rem -1rem;
		border-color: darken($lightgrey, 10%);
	}	
}

.tags {
	background: $lightblue;
	color: white;
	cursor: pointer;
	display: inline-block;
	border: 1px solid $lightblue;
	position: relative;
	.tag-header {
		position: relative;
		&>.handler {
			padding: .25rem;
			border-right: 1px solid $lightgrey;
			display: inline;
			font-size: smaller;
		}
		&>span {
			padding: 0 1.5rem 0 .5rem;			
		}
		&>.close {
			position: absolute;
			top: 0;
			right: .25rem;
			opacity: 0;			
		}
	}
	&:hover .close{
		opacity: 0.6;
	}
	.tag.mounted {
		opacity: 0.9;
	}
}